header {
  border-bottom-style: solid;
}

footer  {
  border-top-style: solid;
}

header img {
  max-width: 450px;
  margin-top: 25px;
  margin-bottom: 15px;
}


.drop-shadow {
  display: inline;
  margin-left: 25px;
}

.drop-shadow .top {
  display: none;
}

.drop-shadow:hover .bottom {
  display: none;
}


.drop-shadow:hover .top {
  display: inline-block;
}

.center {
  display: inline-block;
}

h1, h3 {
  font-family: 'Comfortaa', 'Avenir', sans-serif;
}

p {
  font-family: 'Avenir', sans-serif;
}

nav {
  font-family: 'Economica', 'Avenir', sans-serif;
  float: right;
  margin-right: 50px;
}

nav ul {
  
}

nav li {
  display: inline-block;
  margin: 50px;
}

nav li a {
  text-decoration: none;
  font-size: 24px;
}

nav li a:hover {
  text-shadow: 2px 2px 5px gray;
}

nav li a:visited {
  color: black;
}

