.main-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.app-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#welcome {
  margin-top: 25px;
}

#medit-img {
  max-width: 700px;
}

#app-logos {
  max-height: 30vh;
  border-style: none;
}

body {
  margin: 0px;
  overflow: auto;
}

.container {
  margin-left: 50px;
  margin-right: 50px;
}

/* .flex-article {
  margin-left: 25px;
  margin-right: 25px;
} */

img {
  border-style: solid;
  border-color: black;
  width: 100%;
  height: auto;
}

header img {
  max-width: 100vh;
  margin-top: 25px;
  margin-bottom: 25px;
  border-style: none;
}

.img-right {
  margin: 15px 0px 15px 15px;
}

header {
  display: flex;
  border-bottom-style: solid;
}

footer {
  padding: 25px;
  text-align: center;
  flex-grow: 1;
  background-color: rgb(46, 46, 46);
  color: rgb(219, 219, 219);
  max-height: 200px;
  margin-top: auto;
}

/* drop-shadow class is used to change header image to a drop shadow version when hovered over */
.drop-shadow .top {
  display: none;
}

.drop-shadow:hover .bottom {
  display: none;
}

.drop-shadow:hover .top {
  display: inline;
}

.flex-container {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: flex-start;
}

h1, h2, h3 {
  font-family: 'Comfortaa', 'Avenir', sans-serif;
}

p, .flex-article li {
  font-family: 'Avenir', sans-serif;
}

nav {
  font-family: 'Economica', 'Avenir', sans-serif;
}

nav ul {
  margin-left: 30vh;
}

nav li {
  display: inline-block;
  margin: 50px 50px 0px;
}

nav li a {
  text-decoration: none;
  font-size: 24px;
  color: black;
}

nav li a:hover {
  text-shadow: 2px 2px 5px gray;
}

nav li a:visited {
  color: black;
}

