/* Containers */
.main-content {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body {
  margin: 0px;
  overflow: auto;
}

header {
  border-bottom-style: solid;
}

/* This is used as a class as I do not want the underline border to use these margins */
.header-container {
  margin-left: 20vh;
  margin-right: 20vh;
}

footer {
  padding: 25px;
  text-align: center;
  flex-grow: 1;
  background-color: rgb(46, 46, 46);
  color: rgb(185, 185, 185);
  max-height: 200px;
  margin-top: auto;
}

/* drop-shadow class is used to change header image to a drop shadow version when hovered over */
.drop-shadow {
  float: left;
}

.drop-shadow .top {
  display: none;
}

.drop-shadow:hover .bottom {
  display: none;
}

.drop-shadow:hover .top {
  display: inline;
}

.error-container {
  margin: 50px;
  text-align: center;
}

.article-container {
  display: inline-block;
  margin-bottom: 15px;
  margin-left: 20vh;
  margin-right: 20vh;
}

.app-links {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Navigation */
nav {
  float: right;
  margin-top: 40px;
}

nav li {
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 10px;
}

nav li a {
  text-decoration: none;
  font-size: 24px;
  color: black;
  font-family: 'Economica', 'Avenir', sans-serif;
}

nav li a:hover {
  text-shadow: 2px 2px 5px gray;
}

nav li a:visited {
  color: black;
}

/* Clear */
.clr-l {
  clear: left;
}

.clr-r {
  clear: right;
}

/* Image selectors */
img {
  border-style: solid;
  border-color: black;
  width: 100%;
  height: auto;
}

header img {
  max-width: 40vh;
  margin-top: 25px;
  margin-bottom: 25px;
  border-style: none;
}

.error-img {
  border-style: none;
  max-width: 60%;
}

.app-logos {
  max-height: 30vh;
  border-style: none;
}

.img-right {
  margin: 0px 0px 15px 15px;
  float: right;
  max-width: 60vh;
}

.img-left {
  margin: 0px 15px 15px 0px;
  float: left;
  max-width: 60vh;
}

/* Specific image identifiers */
#breath-img {
  margin: 0px 40px 15px 0px;
  border-style: none;
}

#mindful-img {
  border-style: none;
}

#media-img {
  margin: 0px 20px 10px 0px;
  border-style: none;
  max-width: 400px;
}

#grat-img {
  max-width: 450px;
}

#tech-img {
  max-width: 600px;
}

#bench-img {
  max-width: 450px;
}

h1, h2, h3, h4 {
  font-family: 'Comfortaa', 'Avenir', sans-serif;
}

p, li, body {
  font-family: 'Avenir', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#chat-container {
  width: 100%;
  overflow-y: overlay; /* Use 'overlay' instead of 'auto' */
  display: flex;
  flex-grow: 1;
  flex-direction: column-reverse;
  /* padding: 20px; */
  box-sizing: border-box;
  margin-bottom: 100px;
  padding: 20px 20% 20px;
}


.message {
  margin-bottom: 20px;
  clear: both;
  overflow-wrap: break-word;
  padding: 10px;
  /* display: inline-block; */
  max-width: 70%;
  opacity: 0; /* Set initial opacity to 0 */
  animation: phase-in 0.5s forwards; /* Apply animation effect */
}

@keyframes phase-in {
  0% {
    opacity: 0; /* Start with opacity 0 */
    transform: translateY(10px); /* Move message 10px down */
  }
  100% {
    opacity: 1; /* End with opacity 1 */
    transform: translateY(0); /* Reset the position */
  }
}

.message.sent {
  text-align: left;
  background-color: #afafaf;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  float: right;
}

.message.received {
  text-align: left;
  background-color: #5fae84;
  color: rgb(255, 255, 255);
  border-radius: 20px;
  float: left;
}

.thinking {
  color: #5fae84;
  font-style: italic;
  margin: 10px 0;
  float: left;
  text-align: left;
  clear: both;
  overflow-wrap: break-word;
  padding: 10px;
}

#user-input {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 25px;
  background-color: #f5f5f5;
  box-sizing: border-box;
}

#user-message {
  flex-grow: 1;
  max-width: 50%;
  padding: 10px;
  height: 40px;
  border-radius: 20px;
}

#submit-btn {
  margin-left: 10px;
  width: auto;
  padding: 10px 15px;
  height: 40px;
  border-radius: 20px;
}

